<% provide :title, t("admin.player.player_name") %>
<% provide :button_text, t("admin.player.create_player") %>
<div class="row">
  <div class="col-md-6">
    <h2><%= t "admin.player.create_player" %></h2>
      <%= render "form" %>
  </div>
</div>
