<% provide :title, t("admin.season.season_name") %>
<% provide :button_text, t("admin.season.create_season") %>
<div class="row">
  <div class="col-md-6">
    <h2><%= t "admin.season.create_season" %></h2>
      <%= render "form" %>
  </div>
</div>
