<div class="input-group fields">
  <%= f.label :goals %>
  <%= f.text_field :goals, class: "form-control", placeholder: t("home.goal") %><br />

  <%= f.label :points %>
  <%= f.text_field :points, class: "form-control", placeholder: t("home.point") %>
</div>
