<% provide :button_text, t("admin.match.create_match") %>
<% provide :title, t("admin.match.match") %>
<div class="row mainbox col-md-8 col-md-offset-2">
  <div class="alert alert-danger none"></div>
  <div class="panel panel-info form-style">
    <div class="panel-heading">
      <div class="panel-title"><%= t "admin.match.new" %></div>
    </div>
    <div class="panel-body" >
      <%= render "form" %>
    </div>
  </div>
</div>
