<% provide :title, t("admin.post.post") %>
<div class="row mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info form-style">
    <div class="panel-heading">
      <div class="panel-title"><%= t "admin.post.edit" %></div>
    </div>
    <div class="panel-body" >
      <%= render "form" %>
    </div>
  </div>
</div>
