<% provide :title, t("admin.post.post_name") %>
<% provide :button_text, t("admin.post.create_post") %>
<div class="row">
  <div class="col-md-6">
    <h2><%= t "admin.season.create_season" %></h2>
      <%= render "form" %>
  </div>
</div>
