@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding-top: 70px;
}

ul {
  float: left;
  list-style: none;
}

ul li{
  float: left;
  margin-left: 15px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.actions {
  margin-top: 10px;
}

.form-button {
  margin-top: 15px;
  margin-left: 200px;
}

.form-style {
  margin-top: 70px;
}

.table-style {
  border: 1px solid #0cf;
}

.td_style {
  border-right: 1px solid #0cf;
}

.th-style {
  border-right: 1px solid #0cf;
  p {
    text-align: center;
  }
}
