@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
}

ul {
  float: left;
  list-style: none;
}

ul li {
  float: left;
  margin-left: 15px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.actions {
  margin-top: 10px;
}

.form-button {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-left: 250px;
}

.form-style {
  text-align: center;
  margin-top: 40px;
  .font {
    margin-top: 70px;
    font-size: 4em;
    color: red;
  }
}

.table-style {
  border: 1px solid #0cf;
}

.td_style {
  border-right: 1px solid #0cf;
}

.th-style {
  border-right: 1px solid #0cf;
  p {
    text-align: center;
  }
}

#match_season_id {
  margin-top: 10px;
}

#team2_id {
  margin-top: 10px;
}

.none {
  display: none;
}

.section {
  margin-top: 30px;
}

.box-comment .frm-comment {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f2f2f2;
}

.box-comment .frm-comment .avatar {
  float: left;
}

.box-comment .frm-comment .wrap-comment {
  margin-left: 100px;
  overflow: hidden;
}

.box-comment .frm-comment .wrap-comment #text_area {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  height: 80px;
  margin-bottom: 10px;
}

.button .btn-dark-blue {
  background: #721799;
  font-size: 14px;
}

#text_area {
  width: 450px;
  height: 80px;
}

.image_small {
  width: 100%;
  height: auto;
}

#test > div:nth-child(1) {
  padding-right: 60px;
}

#test > div:nth-child(2) {
  padding-left: 60px;
}

.btn-sub {
  margin-top: 80px;
}

.raido_button {
  margin-left: 200px;
}

#search {
  float: right;
  margin-top: 9px;
  width: 250px;
}

.search {
  padding: 5px 0;
  width: 230px;
  height: 30px;
  position: relative;
  left: 10px;
  float: left;
  line-height: 22px;
  input {
    position: absolute;
    width: 0px;
    float: Left;
    margin-left: 210px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    height: 30px;
    line-height: 18px;
    padding: 0 2px 0 2px;
    border-radius:1px;
  }
}

.search:hover input, .search input:focus {
  width: 200px;
  margin-left: 0px;
}

#btn-submit {
  height: 30px;
  margin: 10px auto;
  border-radius:1px;
}

#btn-search {
  position: absolute;
  right: -50px;
  top: 5px;
}

button.btn.btn-primary.btn-sm {
  position: absolute;
  right: 0;
  top: 0;
}

#user_search {
  position: relative;
}

input.btn.btn-info.form-button {
  margin: 10px auto;
}

