@import "bootstrap-sprockets";
@import "bootstrap";

body{
  padding-top: 70px;
}

ul {
  float: left;
  list-style: none;
}

ul li{
  float: left;
  margin-left: 15px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

.actions {
  margin-top: 10px;
}
